binds {
   Mod+E hotkey-overlay-title="文件管理" { spawn "thunar"; }
   Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
   XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
   XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
}
